{% extends 'third/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for item in reviews %}
        <div class="row restaurant-item" style="margin:20px auto">
            <div class="col-sm-12">
                <div class="card border-secondary">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.restaurant.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.restaurant.address }}</h6>
                        <p class="card-text">{{ item.point }}점 / {{ item.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="pagination">
                <span class="step-links text-center" style="width:100%;">
                    {% if reviews.has_previous %}
                        <a href="?page=1">&laquo;</a>
                        <a href="?page={{ reviews.previous_page_number }}">{{ reviews.previous_page_number }}</a>
                    {% endif %}

                    <span class="current">
                        {{ reviews.number }}
                    </span>

                    {% if reviews.has_next %}
                        <a href="?page={{ reviews.next_page_number }}">{{ reviews.next_page_number }}</a>
                        ...
                        <a href="?page={{ reviews.paginator.num_pages }}">{{ reviews.paginator.num_pages }}</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}